
*{
	font-family: 'SF UI Text';
	margin: 0;
	padding: 0;
}

html{
	overflow-y: overlay;
}

h1{
	font-size: 36px;
	line-height: 43px;
	
	color: #333333;
}

h2{
	font-size: 22px;
	line-height: 26px;
	color: #333333;
}



header{
	padding-top: 64px;
	padding-bottom: 54px;
}

.header-inner{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-left: 40px;
}

.header-text .pay{
	width: 225px;
}

.main{
	max-width: 1160px;
	margin: 0 auto;
}

.catalogue{
	display: flex;
	flex-wrap: wrap;
	max-width: 1160px;
	/* margin: 0 auto; */
	justify-content: space-around;
	margin-top: 30px;
}

.catalogue-item-card{
	width: 255px;
	height: 299px;
	text-align: center;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	border-radius: 5px;
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-radius: 5px;
	border: 1px solid white;
	cursor: pointer;
}

.catalogue-item-card:hover{
	background: #FFFFFF;
	border: 1px solid #F4F4F4;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
	color:#2D9CDB;

	/* width: 253px;
	height: 297px; */
}

/* .catalogue-item-card:hover+.catalogue-item-name{
} */

.catalogue-item-card img{
	margin-top: 20px;
	margin-bottom: 20px;
}

.catalogue-item-name{
	height: 50px;
}

.catalogue-item-card .items-amount{
	color: #828282;
	margin-top: 10px;
}

li{
	display: flex;
	align-items: center;
	height: 60px;
	position: relative;
}

li::after{
	content: "";
  background: #EBF8FF;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 345px;
}

.li-no-underline::after{
	display: none;
}



li .li-name{
	margin: 0 9px 0 15px;
	width: 226px;
	height: 16px;
	color: #2D9CDB;
}

li .li-number{
	width: 40px;
	height: 16px;
	text-align: end;
}

li .li-arrow{
	margin-left: 15px;
}


.header-inner-block{
	display: flex;
	margin-bottom: 43px;
}

.header-inner-block h3{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 19px;
	color: #333333;
}

.header-inner-block p{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	width: 253px;
}

.delivery-icon{
	width: 76.8px;
	height: 50.37px;
}

.header-text{
	margin-left: 20.2px;
}

body{
	/* background: #000; */
	/* width: 100vw; */
	/* padding-bottom: 57px; */
}

html{

	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

body{
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

.show-more-btn{
	align-items: center;
	width: 159px;
	height: 40px;
	background: white;
	border: 1px solid #2D9CDB;
	border-radius: 5px;
  margin: 15px auto;
  display: block;
	font-family: 'SF UI Text';
	font-size: 14px;
	line-height: 17px;
	color: #2D9CDB;
	margin-bottom: 15px;

}

.show-more-btn img{
	margin-left: 9px;
}

.slider-buttons{
	display: flex;
}

.slider-button{
	width: 30px;
	height: 30px;
	background: #EEEEEE;
	border-radius: 3px;
	border: none;
	margin-left: 8px;
}

.product-hits-intro{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	margin-top: 30px;
}

.item-card{
	height: 446px;
	width: 255px;
	background: #FFFFFF;
	border: 1px solid white;	
	border-radius: 5px;
	position: relative;
	padding: 20px 20px 20px 20px;
	/* margin-right: 15px; */
	cursor: pointer;
}

.item-card:hover{
	border: 1px solid #F2F2F2;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.item-card:hover .fast-view-icon{
	opacity: 100%;
	/* display: block; */
	/* visibility: visible;	 */
}

.hit-icon{
	font-size: 13px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 20px;
	right: 20px;
	background: #9B51E0;
	border-radius: 3px;
	width: 48px;
	height: 24px;
}

.YT-icon{
	position: absolute;
	top: 24.3px;
	right: 20px;
}

.hit-icon-browser{
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 13px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	background: #9B51E0;
	border-radius: 3px;
	width: 48px;
	height: 24px;
}

.item-image{
	margin: 0 auto;
	width: 225px;
	height: 225px;
	display: block;
}

.rating{
	display: flex;
	align-items: center;
	font-size: 13px;
	line-height: 16px;
/* identical to box height */
	color: #828282;
}

.item-buttons{
	display: flex;
	flex-wrap: nowrap;
}

.fast-view-icon{
	position: absolute;
	left: 15px;
	top: 15px;
	opacity: 0%;
	transition: all ease-in 200ms;
	/* display: none; */
	/* visibility: hidden; */
}

.item-buttons .favorite{
	margin-left: 15px;
}

.rating .star{
	margin-right: 3px;
	width: 20px;
	height: 19px;
}

.rating .review{
	margin-left: 7px;
}

.in-stock{
	display: flex;
}

.in-stock-text{
	font-size: 13px;
	line-height: 16px;
	/* identical to box height */
	margin-left: 7px;
	color: #27AE60;
}

.cart-btn{
	/* width: 230px;
	height: 40px; */
	width: 120px;
	height: 35px;
	background: #2D9CDB;
	border-radius: 4px;
	border: none;
	color: white;
	margin: 20px 15px 20px 0px;
}

.item-card .price{
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 22px;
	font-size: 18x;
}

.item-card .price p{
	text-decoration: line-through;
	color: #828282;
	margin-left: 10px;
}

.item-name{
	margin: 20px 20px 22px 0px;
}


.fast-purchise-link{
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	display: block;
	/* margin: 36px auto 0 auto; */
	color: #2D9CDB;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translate(-50%, 0);
}

.mobile-only{
	display: none;
}

/* .browser-only{
	display: block;
} */

.selling-hits{
	display: flex;
	flex-wrap: wrap;
	max-width: 1160px;
	/* margin: 0 auto; */
	justify-content: space-between;
	/* margin-top: 30px; */
}

.selling-hits .item-card{
	width: 215px;
}

@media screen and (max-width: 1240px) {
	.selling-hits{
		padding: 0 15px;
		/* background: green; */
	}
	h1{
		padding-left: 15px;
	}
}

@media screen and (max-width: 801px) {
	.selling-hits{
		max-width: 600px;
		/* background: green; */
		margin: 0 auto;
	}
}

@media screen and (max-width: 720px){
	.hiddenBefore720{
		display: none;
	}
}

@media screen and (max-width: 550) {
	.selling-hits{
		max-width: 300px;
		/* background: green; */
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px) {
	body{
		background: white;
	}
	.item-card .price{
		height: 26px;
		font-size: 22px;
	}
	.item-card::after{
		content: "";
		background: #EBF8FF;
		position: absolute;
		position: absolute;
    left: 5.8%;
    bottom: 48px;
    height: 1px;
    width: 88.4%;
	}
	.main{
		padding: 29px 15px 45px 15px;
		/* background: red;	 */
	}
	header{
		margin-bottom: 43px;
		padding: 0  0 0 15px;
		height: 64px;
	}
	.header-inner{
		/* height: 64px; */
		margin-left: 0;
		padding-top: 29px;
	}
	.mobile-only{
		display: block;
	}
	.browser-only{
		display: none;
	}
	.item-card{
		margin: 0 auto;
		height: 492px;
		width: 305px;
		/* position: relative; */
		background: #FFFFFF;
		border: 1px solid #F2F2F2;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
		border-radius: 5px;
	}
	.cart-btn{
		width: 230px;
		height: 40px;
		/* width: 120px;
		height: 35px; */
		background: #2D9CDB;
		border-radius: 4px;
		border: none;
		color: white;
		margin: 20px 15px 20px 0px;
	}
}

@media screen and (max-width: 370px){
	.item-card{
		width: auto;
	}

	.header-inner-block{
		padding-left: 30px;
	}
}

@media screen and (max-width: 320px){


}


@import url("./public/fonts/sfui/stylesheet.css")

